<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
      
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Movimiento Insumos</h5>
                </div>
                <div class="card-body">
                    <form class="needs-validation" [formGroup]="generalForm" novalidate>
                        <div class="add-product-form">
                            <div class="form-group row">
                                <label class="col-xl-3 col-md-4">Start Date</label>
                                <div class="input-group col-md-7 input-grp-p">
                                    <input class="datepicker-here form-control digits" ngbDatepicker
                                        formControlName="start_date" #f="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn calendar" (click)="f.toggle()" type="button"><i
                                                class="fa fa-calendar"></i></button>
                                                <label class="mb-1">End Date</label>
                                <div class="input-group col-md-7 input-grp-p">
                                    <input class="datepicker-here form-control digits" ngbDatepicker
                                        formControlName="end_date" #c="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn calendar" (click)="c.toggle()" type="button"><i
                                                class="fa fa-calendar"></i></button>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                
                            </div>
                        </div>
                    </form>
                    <div class="btn-popup pull-right">
                        
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->