<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Agregar Producto</h5>
                </div>
                <div class="card-body">
                    <div class="row product-adding">
                        <div class="col-xl-5">
                            <div class="add-product">
                                <div class="row">
                                    <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                        <img [src]="currVerifiedLoanOfficerPhoto" alt="" class="img-fluid image_zoom_1">
                                    </div>
                                    <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                        <ul class="file-upload-product">
                                            <li *ngFor="let item of url; let i=index">
                                                <div class="box-input-file">
                                                    <input class="upload" type="file" (change)="readUrl($event,i)">
                                                    <img class="imgUpload" alt="" [src]="item.img"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7">  
                            <form class="needs-validation" [formGroup]="productForm" novalidate>
                                <div class="add-product-form">
                                    <div class="form-group row">
                                        <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Nombre
                                            :</label>
                                        <input class="form-control col-xl-8 col-sm-7" id="validationCustom01"
                                            type="text" [formControl]="productForm.controls['prodNombre']" required>
                                        <div *ngIf="productForm.controls.prodNombre.touched && productForm.controls.prodNombre.errors?.required"
                                            class="text text-danger">
                                             Name is required.
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom02" class="col-xl-3 col-sm-4 mb-0">Precio :</label>
                                        <input class="form-control col-xl-8 col-sm-7" id="validationCustom02"
                                            type="number" [formControl]="productForm.controls['prodCostoVenta']" required="">
                                        <div *ngIf="productForm.controls.prodCostoVenta.touched && productForm.controls.prodCostoVenta.errors?.required"
                                            class="text text-danger">
                                             Price is required.
                                        </div>
                                    </div>
                                   
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4"> Descripcion :</label>
                                        <div class="col-xl-8 col-sm-7 pl-0 description-sm">
                                            <input class="form-control col-xl-8 col-sm-7" id="validationCustom03"
                                            type="text" [formControl]="productForm.controls['prodDescrip']" required="">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"
                            (click)="insumos()">Agregar Insumo</button>
                        </div>
                        
                        <div id="batchDelete" class="category-table custom-datatable">
                            <div class="table-responsive">
                                <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="product-buttons col-sm-8 offset-xl-3 offset-sm-4">
                            <button type="button" class="btn btn-primary mr-1" (click)= "save()">Add</button>
                            <button type="button" class="btn btn-light">Discard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->