<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Crear Usuario</h5>
                </div>
                <div class="card-body tab2-card">
                    <ngb-tabset class="tab-coupon">
                        <ngb-tab title="Account">
                            <ng-template ngbTabContent>                                                                                                                                        <div class="tab-pane fade active show" id="account" role="tabpanel"
                                        aria-labelledby="account-tab">
                                    <form [formGroup]="accountForm" class="needs-validation user-add" (ngSubmit)="onSubmit()">
                                        <h4>Detalles de Cuenta</h4>
                                        <div class="form-group row">
                                            <label for="perNombre" class="col-xl-3 col-md-4"><span>*</span>
                                                Nombre</label>
                                            <input class="form-control col-xl-8 col-md-7" 
                                                type="text" required formControlName="perNombre">
                                        </div>
                                        <div class="form-group row">
                                            <label for="perApePate" class="col-xl-3 col-md-4"><span>*</span> 
                                                Apellido Paterno</label>
                                            <input class="form-control col-xl-8 col-md-7" 
                                                type="text" required formControlName="perApePate">
                                        </div>
                                        <div class="form-group row">
                                            <label for="perApeMate" class="col-xl-3 col-md-4"><span>*</span> 
                                                Apellido Materno</label>
                                            <input class="form-control col-xl-8 col-md-7" 
                                                type="text" required formControlName="perApeMate">
                                        </div>
                                        <div class="form-group row">
                                            <label for="perEmail" class="col-xl-3 col-md-4"><span>*</span>
                                                Email</label>
                                            <input class="form-control col-xl-8 col-md-7" 
                                                type="text" required formControlName="perEmail">
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-xl-3 col-md-4"><span>*</span>
                                                Password</label>
                                            <input class="form-control col-xl-8 col-md-7" 
                                                type="password" formControlName="password" required>
                                        </div>
                                        <div class="form-group row">
                                            <label for="confirmPwd" class="col-xl-3 col-md-4"><span>*</span>
                                                Confirmar  Password</label>
                                            <input class="form-control col-xl-8 col-md-7" 
                                                type="password" required formControlName="confirmPwd" required>
                                        </div>
                                        <div class="pull-right">
                                            <button type="submit" [disabled]="!accountForm.valid"  class="btn btn-primary">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>Permisos
                                <ng-template ngbTabContent>
                                    <form [formGroup]="permissionForm"
                                        class="needs-validation user-add" novalidate="">
                                        <div class="permission-block">
                                            <div class="attribute-blocks">
                                                <h5 class="f-w-600 mb-3">Productos </h5>
                                                <div class="row">
                                                    <div class="col-xl-3 col-sm-4">
                                                        <label>Agregar Producto</label>
                                                    </div>
                                                    <div class="col-xl-9 col-sm-8">
                                                        <div
                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                            <label class="d-block" for="edo-ani1">
                                                                <input class="radio_animated" id="edo-ani1" type="radio"
                                                                    name="rdo-ani" (click)="addGroup('ROLE_ADD_PROD')">
                                                                Permitir
                                                            </label>
                                                            <label class="d-block" for="edo-ani2">
                                                                <input class="radio_animated" id="edo-ani2" type="radio"
                                                                    name="rdo-ani" checked=""  (click)="removeGroup('ROLE_ADD_PROD')">
                                                                Denegar
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-3 col-sm-4">
                                                        <label>Actualizar Productos</label>
                                                    </div>
                                                    <div class="col-xl-9 col-sm-8">
                                                        <div
                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                            <label class="d-block" for="edo-ani3">
                                                                <input class="radio_animated" id="edo-ani3" type="radio"
                                                                    name="rdo-ani1" (click)="addGroup('ROLE_EDIT_PROD')">
                                                                    Permitir
                                                            </label>
                                                            <label class="d-block" for="edo-ani4">
                                                                <input class="radio_animated" id="edo-ani4" type="radio"
                                                                    name="rdo-ani1" checked="" (click)="removeGroup('ROLE_EDIT_PROD')">
                                                                    Denegar
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col-xl-3 col-sm-4">
                                                        <label>Delete Product</label>
                                                    </div>
                                                    <div class="col-xl-9 col-sm-8">
                                                        <div
                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                            <label class="d-block" for="edo-ani5">
                                                                <input class="radio_animated" id="edo-ani5" type="radio"
                                                                    name="rdo-ani2">
                                                                Allow
                                                            </label>
                                                            <label class="d-block" for="edo-ani6">
                                                                <input class="radio_animated" id="edo-ani6" type="radio"
                                                                    name="rdo-ani2" checked="">
                                                                Deny
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="row">
                                                    <div class="col-xl-3 col-sm-4">
                                                        <label class="mb-0 sm-label-radio">Apply discount</label>
                                                    </div>
                                                    <div class="col-xl-9 col-sm-8">
                                                        <div
                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated pb-0">
                                                            <label class="d-block mb-0" for="edo-ani7">
                                                                <input class="radio_animated" id="edo-ani7" type="radio"
                                                                    name="rdo-ani3">
                                                                Allow
                                                            </label>
                                                            <label class="d-block mb-0" for="edo-ani8">
                                                                <input class="radio_animated" id="edo-ani8" type="radio"
                                                                    name="rdo-ani3" checked="">
                                                                Deny
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div class="attribute-blocks">
                                                <h5 class="f-w-600 mb-3">Usuarios </h5>
                                                <div class="row">
                                                    <div class="col-xl-3 col-sm-4">
                                                        <label>Administrar Usuarios</label>
                                                    </div>
                                                    <div class="col-xl-9 col-sm-8">
                                                        <div
                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                                            <label class="d-block" for="edo-ani9">
                                                                <input class="radio_animated" id="edo-ani9" type="radio"
                                                                    name="rdo-ani4" (click)="addGroup('ROLE_ADMIN_USU')">
                                                                Permitir
                                                            </label>
                                                            <label class="d-block" for="edo-ani10">
                                                                <input class="radio_animated" id="edo-ani10"
                                                                    type="radio" name="rdo-ani4" checked="" (click)="removeGroup('ROLE_ADMIN_USU')">
                                                                Denegar
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            
                                            </div>
                                        </div>
                                    </form>
                                </ng-template>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->