<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Insumos</h5>
                </div>
                <div class="card-body">
                    <div class="btn-popup pull-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"
                            data-target="#exampleModal" (click)="open(content)">Agregar Insumo</button>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title f-w-600" id="exampleModalLabel">Agregar Insumo</h5>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="needs-validation" [formGroup]="productForm" novalidate>
                                    <div class="add-product-form">
                                        <div class="form-group row">
                                            <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Nombre
                                                :</label>
                                            <input class="form-control col-xl-8 col-sm-7" id="validationCustom01"
                                                type="text" [formControl]="productForm.controls['prodNombre']" required>
                                            <div *ngIf="productForm.controls.prodNombre.touched && productForm.controls.prodNombre.errors?.required"
                                                class="text text-danger">
                                                 Name is required.
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom02" class="col-xl-3 col-sm-4 mb-0">Precio :</label>
                                            <input class="form-control col-xl-8 col-sm-7" id="validationCustom02"
                                                type="number" [formControl]="productForm.controls['prodCostoCompra']" required="">
                                            <div *ngIf="productForm.controls.prodCostoCompra.touched && productForm.controls.prodCostoCompra.errors?.required"
                                                class="text text-danger">
                                                Product Price is required.
                                            </div>
                                        </div>
                                       
                                        <div class="form-group row">
                                            <label for="validationCustom03" class="col-xl-3 col-sm-4 mb-0"> Codigo
                                                :</label>
                                            <input class="form-control col-xl-8 col-sm-7" id="validationCustom03"
                                                type="number" [formControl]="productForm.controls['prodClave']" required="">
                                            <div *ngIf="productForm.controls.prodClave.touched && productForm.controls.prodClave.errors?.required"
                                                class="text text-danger">
                                                Product <Code></Code> is required.
                                            </div>
                                        </div>
                                    
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-sm-4 mb-0">Numero Productos :</label>
                                            <div class="qty-box1">
                                                <div class="input-group">
                                                    <i class="fa fa-minus btnGtr1" (click)=decrement()></i>
                                                    <input class="touchspin1 text-center" name="counter" [value]="counter"
                                                        type="text">
                                                    <i class="fa fa-plus btnLess1" (click)=increment()></i>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </form>
                            <div class="add-product">
                                <div class="row">
                                   
                                    <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                        <ul class="file-upload-product">
                                            <li *ngFor="let item of url; let i=index">
                                                <div class="box-input-file">
                                                    <input class="upload" type="file" (change)="readUrl($event,i)">
                                                    <img class="imgUpload" alt="" [src]="item.img"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary"  (click)= "save()">Guardar</button>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                    (click)="modal.dismiss('Cross click')">Cerrar</button>
                            </div>
                        </ng-template>
                    </div>
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->